  <div class="container">
    <h2>Food Consumption Log</h2>
    <br>
  <form>
 <label>Food Entry</label>
 <br>
 <select id="person">
    {{#each people}}
      <option>{{first_name}} {{last_name}}</option>
    {{/each}}
  </select>
  <br>
  <select id="food_desc">
    {{#each selection}}
      <option>{{food_desc}}</option>
    {{/each}}
  </select>
  <br>
  <input type=number id="qty" placeholder="Enter Quantity" />
  <br>
  <input type="date" id="date_in" value={{moment exercised_at format="YYYY-MM-DD"}} />
  <br>
  <input type="button" value="Submit" id="submit"/>
  <input type="button" id="back" value="Back"  onclick="window.location.href='/'"/>
</form>
 
    <footer class="page-footer font-small blue">

    </footer>

<script>
    document.getElementById('submit').addEventListener('click', function(event){
      var req = new XMLHttpRequest();

      var name = document.getElementById('person').value;
      var res = name.split(" ");
      var parms = 'first_name=';
      parms += res[0];
      parms += '&last_name=' + res[1];
      parms += '&food_desc=' + document.getElementById('food_desc').value;
      parms += '&qty=' + document.getElementById('qty').value;
      parms += '&date=' +  document.getElementById('date_in').value;

      console.log(parms);
      
      
      req.open("GET", "http://localhost:62619/insert_fl?"+parms, true);
      req.addEventListener('load',function(){
      if(req.status >= 200 && req.status < 400){
        window.location.href='/';
      } else {
        console.log("Error in network request: " + req.statusText);
      }});
    req.send(null);
    event.preventDefault();
      
      });
</script>